/* Please see documentation at https://docs.microsoft.com/aspnet/core/client-side/bundling-and-minification
for details on configuring this project to bundle and minify static web assets. */

a.navbar-brand {
    white-space: normal;
    text-align: center;
    word-break: break-all;
    font-size: 30px !important;
    font-weight: bold !important;
    color: cadetblue !important;
    padding-left: 80px;
}

/* Provide sufficient contrast against white background */
a {
  color:navajowhite;
}
a:active {
    color: cadetblue !important;
}
.inactive-input {
    background-color: darkgray;
}
.qSearch {
    white-space: pre;
}
.inlinethingy {
    display: inline-block;
}

.tablazat th {
    color: #39787a;
    background-color: navajowhite;
    font-size: 18px;
    border: 1px solid navajowhite;
    padding: 8px;
    text-align:center;
    font-weight: bold;
}

.tablazat td {
    color: navajowhite;
    font-size: 16px;
    border: 1px solid navajowhite;
    padding: 8px;
    font-weight: bold;
}

.split {
    height: 812px;
    width: 50%;
    position: fixed;
    z-index: 1;
    top: 84px;
    bottom: 80px;
    overflow-x: hidden;
}
/* Control the left side */
.left {
    left: 0;
    
}

/* Control the right side */
.right {
    right: 0;
    background-color: #39787a;
}

.vl {
    border-left: 2px solid navajowhite;
    height: 94%;
    position: absolute;
    left: 50%;
    margin-left: -3px;
    top: 0;
}
hr {
  border-top: 1px solid;
  color: burlywood;
}
.line-1{
    border-top: 2px solid;
}
p {
  color: navajowhite;
  font-size: 18px;
}

label {
    color: navajowhite;
    font-size: 18px;
    font-weight: bold;
}

h1, h2, h3, h4, h5, h6 {
  color: burlywood;
}
h1 {
    font-size: 28px;
}
.btn-primary {
  color: #fff;
  background-color: #1b6ec2;
  border-color: #1861ac;
}
ul {
    padding-left: 60px;
}
li {
    margin-bottom: 20px;
    font-size: 20px;
    font-weight: bold;
    color: navajowhite;
    
}

input[type=button], input[type=submit], input[type=reset] {
    font-size: 18px;
    font-weight: bold;
    background-color: navajowhite;
    border-radius: 6px;
    border: 1px solid #335e5f;
    color: cadetblue;
}

.nav-pills .nav-link.active, .nav-pills .show > .nav-link {
  color: #fff;
  background-color: #1b6ec2;
  border-color: #1861ac;
}
.nav-link {
    font-size: 28px !important;
    color: #39787a !important;
    font-weight: bold;
}
.centerimg {
    width: 6%;
    height: 6%;
    
}
/* Sticky footer styles
-------------------------------------------------- */
html {
    font-size: 14px;
}
@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.border-top {
    border-top: 4px solid navajowhite !important;
}
.border-bottom {
  border-bottom: 1px solid #e5e5e5;
}

.box-shadow {
    box-shadow: 0 .25rem .75rem rgba(0, 0, 0, .05);
    background-color: navajowhite !important;
}

button.accept-policy {
  font-size: 1rem;
  line-height: inherit;
}

/* Sticky footer styles
-------------------------------------------------- */
html {
  position: relative;
  min-height: 100%;
}

body {
  /* Margin bottom by footer height */
  margin-bottom: 60px;
  background-color:cadetblue
}
.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  white-space: nowrap;
  line-height: 60px; /* Vertically center the text there */
}
