<h1>Stop making lists!</h1>
<hr />
@{ if (ViewData.Count != 0)
    {
        <table class="tablazat">
            <tr>
                <th>Question ID</th>
                <th>Question title</th>
            </tr>
                @{
                    foreach (KeyValuePair
                    <string, object>
                        item in ViewData)
                    {
                        string value = item.Value.ToString();
                        string key = item.Key.ToString();
                        <tr>
                            <td>@key</td>
                            <td>@value</td>
                        </tr>
                    }
                }
        </table>
    }
    else
    {
        <p>There are no questions!</p>
    }
}



