
@{
    ViewData["Title"] = "DeleteQuestion";
}

<h1>DeleteQuestion</h1>


<form method="post" asp-controller="Questions" asp-action="DeleteQuestion">

    <input type="text" name="DelId"/>
    <input type="submit" value="Send the question" />
</form>



