
@{
    ViewData["Title"] = "EditQuestion";
}

<h1>EditQuestion</h1>

<form method="post" asp-controller="Questions" asp-action="EditQuestion">

    <label for="editQuestionId">ID:</label>
    <br/>
    <textarea id="editQuestionId" name="editId" rows="1" cols="50"></textarea>
    <br/>
    <label for="editQuestionTitle">Title:</label><br/>
    <textarea id="editQuestionTitle" name="editTitle" rows="1" cols="50"></textarea>
    <br/>
    <label for="editQuestionText">Text:</label><br/>
    <textarea id="editQuestionText" name="editText" rows="1" cols="80"></textarea>

    <input type="submit" value="Edit question"/>
</form>