

@model List<Transit>
<h1>Edit Question</h1>

<form method="post" asp-controller="Questions" asp-action="EditQuestion2">
    <label for="editQuestionTitle">Title:</label>
    <br />
    <input type="text" list="EQ2" id="editQuestionTitle" name="editTitle" rows="1" cols="50" size="50"</input>
    <datalist id="EQ2">
        @foreach (Transit qst in Model)
        {
            string why2 = $"{qst.Qid}: {qst.Qtitle}";

            <option value="@why2"></option>

        }
    </datalist>
    <br />
    <br />
    <input type="submit" value="Edit question" />
</form>
