<h1>List all Questions</h1>

<form method="post">
    <label for="questions">Questions</label>
    <br />
    <input type="text" style="width:800px;" list="questions" id="question" name="question-title">
    <datalist id="questions">
        @foreach (KeyValuePair<string, object> item in ViewData)
        {
            string key = item.Key;
            <option value="@key"></option>
        }
    </datalist>
    <input type="submit" value="jump to this qestion" />
</form>
<p>@ViewData.Count()</p>


