@model AskMate2.Domain.Question
<h1>List all Questions</h1>


@foreach (KeyValuePair<string, object> item in ViewData)
{
    string value = item.Value.ToString();
    <option value="@value"></option>
}
   



