
@{
    ViewData["Title"] = "List all Questions";
}

<h1>@ViewData["Title"]</h1>

<form method="post">
    <label for="questions">Questions</label>
    <br />
    <input type="text" list="questions" id="question" name="question-title">
    <datalist id="questions">
        <option value="Question 1"></option>
        <option value="Question 2"></option>
        <option value="Question 3"></option>
        <option value="Question 4"></option>
        <option value="Question 5"></option>
        <option value="Question 6"></option>
    </datalist>
    <input type="submit" value="jump to this qestion"
</form>


