@{
    ViewData["Title"] = "List of Questions";

}
@using AskMate2.Domain;
@model List<Question>
<h2>List of Questions</h2>




<ul>
    @foreach (var q in Model)
	{
		 <li>[@q.Id] @q.Title (@q.Text)</li>
	}
</ul>

<form action="/List/AddQuestion" method="post">
    <label for="title">Title
        <input name="title"/>
    </label>
    <label for="text">Text
        <input name="text"/>
    </label>
    <button>Add Question</button>
</form>
