@{
    ViewData["Title"] = "About Us?";
}
<h1>@ViewData["Title"]</h1>
<h4>Don't be nosey!</h4>
<p id="jsproba">This will be changed.</p>
<button type="button" onclick="changeColor('red');">red</button>
<button type="button" onclick="changeColor('black');">black</button>
<img src="~/nosey.webp" align="middle" />
