@{
    
}

<div class="text-center">
    <h1 class="base-functions">Questions vs Answers</h1>
</div>
<div>
    <h4><a asp-controller="Questions" asp-action="ListQuestions">List all questions</a></h4>
    <br />
    <h4><a asp-controller="Questions" asp-action="AddQuestion">Add a new question</a></h4>
    <br />
    <h4><a asp-controller="Answers" asp-action="AddAnswer">Add an answer</a></h4>
</div>
