<br />
<br />
<br />
<br />
<a asp-controller="Questions" asp-action="ListQuestions">
    <img class="biglogo" src="https://png2.cleanpng.com/sh/25a61b5e4d554150b88f14d37d70090e/L0KzQYm3VcAzN5J0j5H0aYP2gLBuTfNwdaF6jNd7LXnmf7B6TgN6dZN0hJ9sbHnzPbL5lL02aZZmT6NrZHXkcoeAUb4xPGc9T6ICMEG4Qoa6UcM6QGIATqM9LoDxd1==/kisspng-computer-icons-symbol-clip-art-5aea71bdeab671.0468707015253139819614.png" alt="Transparent Background Questions And Answers Clipart" />
</a>
<br />
<br />
<br />
<br />
<br />
<br />
<a asp-controller="Home" asp-action="Theeye">
    <img class="theeye" src="~/theeye.png" alt="All Seeing Eye Transparent Png - Novus Ordo Seclorum Vector" />
</a>
