@{
    
}

<div class="text-center">
    <h1 align="left" class="base-functions">Questions vs Answers </h1>
</div>
<br />
<div>
    <ul >
        <li><a asp-controller="Questions" asp-action="ListQuestions">List all questions</a></li>
        <li><a asp-controller="Questions" asp-action="ShowQuestion">Show a question</a></li>
        <li><a asp-controller="Questions" asp-action="AddQuestion">Add a new question</a></li>
        <li><a asp-controller="Questions" asp-action="EditQuestion">Edit a new question</a></li>
        <li><a asp-controller="Questions" asp-action="DeleteQuestion">Delete a question</a></li>
    </ul>

</div>
<hr />
<div>
    <ul>
        <li><a asp-controller="Answers" asp-action="ShowAnswers">Show answers for a question</a></li>
        <li><a asp-controller="Answers" asp-action="AddAnswer">Add an answer</a></li>
        <li><a asp-controller="Answers" asp-action="DeleteAnswer">Delete an answer</a></li>
        <li><a asp-controller="Answers" asp-action="EditAnswer">Edit an answer</a></li>
    </ul>

</div>
