<div class="mainpage">
    @{ 
        string username = "unknown";
        if (ViewData["currentUser"].ToString() != "")
        {
            username = ViewData["currentUser"].ToString();
        }
        else
        {
            username = "unknown user";
        }
    }
    <p class="currentUser">Welcome @username !</p>
    <a asp-controller="Questions" asp-action="ListQuestions">
        <img class="biglogo" src="~/braintree.png" alt="Transparent Background Questions And Answers Clipart" />
    </a>
    <a asp-controller="Home" asp-action="Theeye">
        <img class="theeye" src="~/theeye.png" alt="All Seeing Eye Transparent Png - Novus Ordo Seclorum Vector" />
    </a>
</div>
