<div class="split left">
    <br />
    <h1 align="center">Questions</h1>
    <br />
    <ul>
        <li><a asp-controller="Questions" asp-action="ListQuestions">List all questions</a></li>
        <li><a asp-controller="Questions" asp-action="ShowQuestion">Show a question</a></li>
        <li><a asp-controller="Questions" asp-action="AddQuestion">Add a new question</a></li>
        <li><a asp-controller="Questions" asp-action="EditQuestion1">Edit a question</a></li>
        <li><a asp-controller="Questions" asp-action="DeleteQuestion">Delete a question</a></li>
        <li><a asp-controller="Questions" asp-action="Vote">Vote on Question</a></li>
        <li><a asp-controller="Questions" asp-action="CommentToQuestion">Comment on a question</a></li>
    </ul>
    <br />
    <br />
    <br />
    <br />

    
</div>
<div class="vl"></div>
<div class="split right">
    <br />
    <h1 align="center">Answers</h1>
    <br />
    <ul>
        <li><a asp-controller="Answers" asp-action="ShowAnswers">Show answers for a question</a></li>
        <li><a asp-controller="Answers" asp-action="AddAnswer">Add an answer</a></li>
        <li><a asp-controller="Answers" asp-action="DeleteAnswer">Delete an answer</a></li>
        <li><a asp-controller="Answers" asp-action="AnswerVote">Vote for an answer</a></li>
        <li><a asp-controller="Answers" asp-action="CommentToAnswer">Comment on an answer</a></li>
    </ul>

</div>
